.h2-heading {
  grid-column: 1/-1;
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  margin-bottom: 8.7rem;
  text-transform: capitalize;
}
.h3-heading {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}
.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}
